.auth-page-content {

  display: flex;
  flex-direction: column;

  .p-0 {
    padding: 0;
  }

  .auth-container {
    padding-bottom: 132px;
    padding-top: 92px;

    .auth-grid-container {

      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto;

      .auth-grid-item-1 {

        display: flex;
        flex-direction: column;

        .logo-container {
          padding: 8px 0 16px 0;

          img {
            height: 70px;
            margin: -20px;
          }
        }

        .auth-subtitle {
          font-size: 28px;
          line-height: 38px;
        }

        .auth-detail {
          font-size: 15px;
          line-height: 24px;
          margin-bottom: 12px;
          padding-bottom: 12px;
        }

      }

      .auth-grid-item-2 {

        display: flex;
        justify-content: center;
        align-items: center;

        .login-form-container {
          margin-top: 40px;
          width: 396px;
          display: flex;
          flex-direction: column;

          .form-wrapper {
            border-radius: 8px;
            padding-top: 10px;
            padding-bottom: 24px;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

            .form-container {
              padding: 0 16px;

              .form-control {
                padding: 6px 0;
                width: 100%;
              }

              .login-btn {
                background-color: $primary;
                margin-top: 6px;
                box-shadow: none;
                height: 48px;
                color: white;
                text-transform: none;

                .btn-loading {
                  color: white;
                }
              }

              .forgot-pw-btn {
                color: $primary;
                margin-top: 20px;
                cursor: pointer;
              }

              .divider {
                margin: 20px 0;
              }

              .create-btn-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .create-btn {
                  background-color: $success;
                  color: white;
                  height: 56px;
                  box-shadow: none;
                }
              }
            }
          }

          .brand-text {
            margin-top: 28px;
            margin-bottom: 56px;

            .brand-cta {
              cursor: pointer;
              font-weight: 700;
            }
          }
        }

      }

    }

  }

  .auth-footer {
    background-color: white;
    padding: 20px 0;

    .footer-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: gray;

      .language-list {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .language-item {
          margin-right: 8px;
          font-size: 12px;
          cursor: pointer;
        }

      }

      .link-list {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .link-item {
          margin: 0 16px 5px 0;
          font-size: 12px;
          cursor: pointer;
        }

      }

      .divider {
        margin: 8px 0;
      }

      .copyright {
        margin-top: 32px;
        color: gray;
        font-size: 13px;
      }
    }
  }
}

.signup-form {
  display: flex;
  flex-direction: column;

  .form-header {
    border-bottom: 1px solid rgba(gray, .3);
  }

  .form-container {

    .form-control {
      padding: 6px 0;
      width: 100%;
    }

    .policy {
      margin: 8px 0;
      color: gray;

      a {
        text-decoration: none;
        color: #1877f2;
      }
    }

    .signup-btn {
      background-color: $primary;
      margin-top: 6px;
      box-shadow: none;
      height: 48px;
      color: white;
      text-transform: none;

      .btn-loading {
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .auth-page-content {
    .auth-container {
      padding-bottom: 80px;
      padding-top: 20px;

      .auth-grid-container {
        grid-template-columns: 1fr;

        .auth-grid-item-1 {

          .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .auth-subtitle {
            font-size: 24px;
            line-height: 32px;
          }

        }
      }
    }
  }
}